
/* note */

body {
	font-family: Helvetica;
	margin: 20px;
	text-align: center;
}

h1 {
	text-align: center;
}

.box-left{
	width: 45%;
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
	float: left;
}

.box-right{
	width: 45%;
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
	float: right;
}

video {
	border: 1px solid black;
	float: right;
	width: 50%;
	margin-left: 10px;
}