/* style.css for index.html */

/* To edit a single element, 
	use an id in the html file and use #name in CSS file */
/* To edit groups of elements, 
	use a class in the html file and use .name in the CSS file */

body {
	font-family: Avenir;
	margin: 80px;
}

img, video {
	border: 1px solid black;
	width: 80%;
}

a {
	color: blue;
}